{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Jenny, Andrew and Kara!</h1>
    <br/>
  </div>

  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Jenny Andrew and Kara</b><br>
      10m followers
    </div>
    <div class="col-md-9">
      <div>
        {% if showForm %}
          <form action="/submit" method="POST">
            <label for="name_field">Name:</label>
            <input name="name" type="text" id="name_field" />

            <label for="text_field">Text:</label>
            <input name="text" type="text" id="text_field" style="width: 350px;" />

            <input type="submit" value="Submit" />
          </form>
        {% endif %}
        <br/>
      </div>

      <div>
        <h4>All Tweets</h4>
      </div>

      <!-- display tweets here -->
      {% for tweet in tweets %}
      <div class="row">

        <div class="col-md-1">
          <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
        </div>
        <div>
          <div >
            <b><a href="/users/{{tweet.name}}" class="name">{{tweet.name}}</a></b>
          </div>
          <div>
            {{tweet.text}}
            <!-- {{tweet.id}} -->
          </div>
          <div>
            <a href = "link here">Re-tweet</a>
          </div>
        </div>
      </div>
      <br/>

        <!-- <li>{{tweet.name}}</li>
        <li>{{tweet.text}}</li> -->
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}